body {
    margin: 0;
    background-color: rgb(59, 59, 59);
    height: 100vh; /* Set the body height to the full viewport height */
    overflow: hidden; /* Hide any overflow content */
  }
  
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "titlebar . hotbar"
      ". timergrid ."
      ". . .";
    height: 100%; /* Use the full height of the body */
  }

  .titlebar {
    display: flex;
    align-items: center;
    justify-content: flex-start; /* Align at the start (left) of the container */
    padding-left: 20px; /* Add some left padding */
    grid-area: titlebar; /* Place in the titlebar grid area */
    color: white;
    margin: 0%;
  }
  
  .timergrid {
    display: grid;
    grid-template-columns: 0.6fr 1.8fr 0.6fr;
    grid-template-rows: 0.1fr 0.3fr 0.1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "countdown countdown countdown"
      "progressbar progressbar progressbar"
      ". timerbutton .";
    grid-area: timergrid;
    height: 100%; /* Use the full height of the container */
  }
  
  #countdown {
    grid-area: countdown;
    color: white;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 150pt;
  }
  
  .progressbar {
    grid-area: progressbar;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .button {
    grid-area: timerbutton;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 20%;
  }
  
  #playbutton {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 34pt; 
    color: whitesmoke;
  }

  .hotbar {
    display: flex;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.6fr 1.4fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "linkedin github email"
      ". . ."
      ". . .";
    grid-area: hotbar;
    justify-content: space-around;
    color: white;
    height: 100%; 
  }
  
  .github {
    grid-area: github;
  }
  
  .email {
    grid-area: email;
  }
  
  .linkedin {
    grid-area: linkedin;
  }
  